* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.image-sequence {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* allinea le immagini tra loro sul lato destro */
  width: 100%;
  max-width: 80%;
  margin: 0 auto; /* centra il blocco nella pagina */
}

.seq-img {
  display: block;
  height: auto;
}
