* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
}

.image-sequence {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
  max-width: 900px; /* rappresenta la larghezza dell'immagine più grande (150cm) */
  margin-left: auto; /* spinge il blocco verso destra */
}

.seq-img {
  display: block;
  height: auto;
}* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
}

.image-sequence {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.seq-img {
  display: block;
  width: fit-content;
  height: auto;
  max-width: 100%;
}


